html{

    box-sizing: border-box;
}

body{
    
    box-sizing: inherit;
    padding: 0;
    margin:0 ;
    color: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(14, 13, 13);
   
}

*,
::after,
::before{

    box-sizing: inherit;
}

img{

    max-width: 100%;
    height: auto;
}

.title{
    
    block-size: 220px;
    inline-size: 85%;
    margin: 10% auto;
    line-height: 195px;
    text-align: center;
    font-size: 3rem;
    outline: 2px solid rgb(192, 120, 11);
    outline-offset: -23px;
    background: rgb(116,34,134);
    background: linear-gradient(200deg, rgba(116,34,134,1) 20%, rgba(13,0,131,1) 100%);
}

.form{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 h3{

    margin-left: 15%;
}
.card-grid{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5rem;
    gap: 2%;
}

.contenedorCategoria{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedorCategoria button{

    background: none; 
    color: #fff;
    height: 35px;
    background-color: rgb(179, 199, 2);
}

.modalCard{

    position: fixed;
    top: 0;
    left : 0 ;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 18, 18, 0.747);
}

.modalCard button{
    
    position: absolute;
    top: 20%;
    right: 20%;
    padding: 1.3em;
    border: none;
    border-radius: 50%; 
    color: #fff;
    background-color: red;
}

input,button{

    background: none;
    border: none;
    color: #fff;
}

input[type="text"]{

    block-size: 1.7rem;
    padding: 1rem;
    margin: 0 2em;
    border-radius: 5px;
    background-color: #3e0697;  
}

input[type="reset"]{

    padding: .8em 2em;
    border: 2px solid rgb(138, 15, 15) ;
    background-color: transparent;
    transition: background-color 1s ease-in-out;
}

input[type="reset"]:hover{
    background-color: rgb(116,34,134);
    background: linear-gradient(200deg, rgba(116,34,134,1) 20%, rgba(13,0,131,1) 100%);
}   

ul,li{

    list-style-type: none;
    padding: 0;
    margin: 0;

}
.container-name{

    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    
    max-inline-size: 75%;
    max-block-size: 35%;
    margin: 5rem auto;
    padding: 5%;
    border: 2px solid rgb(133, 6, 6);
}

.container-name__li{

    display: flex;
    align-items: center;
    gap: 15px;
}

.container-name__li button{

    padding: .5em .8em;
    border: 2px solid rgb(160, 119, 8);
    border-radius: 50%;
}

.top{

    position: fixed;
    bottom: 1%;
    right: 2%;
    padding: 2em;
    border-radius: 50%;
    background-color: #ac4110;
    color: #fff;
    text-decoration: none;
}